#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 16px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  color: black;
  background-color: rgb(12, 135, 35);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin: 16px;
  text-align: center;
  transition: transform 0.2s ease;
  width: 280px; 
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.read-the-docs {
  color: #388d2c;
}